#body {
  background-color: #f5f5f5;
}

.productColor {
  color: #cc5476;
}

.toggle {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 30px;
}

.productContainer {
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-between;
}

.productContainerFlex {
  display: flex;
  .productContainer ();
}

.productContainerBlock {
  display: block;
  .productContainer ();
}

.marginDetails {
  margin: 5px;
}

.checked {
  .productColor();
}

.marginTop {
  margin-top: 10px;
}

.priceProduct {
  margin-bottom: 20px;
  .marginTop();
}

.productName .productSize {
  font-size: 20px;
  font-weight: 600;
}

#totalRecords {
  margin: 20px;
}

.product {
  background-color: white;
  border: 1px solid #969696;
  box-shadow: 1px 1px 2px 1px #969696;
  position: relative;
  margin: 20px;
}

.prodDetails {
  padding: 5px;
}

#productNewPrice {
  font-size: 30px;
  font-weight: 600;
}

#productOldPrice {
  color: lightgray;
  text-decoration: line-through;
}

#productSavePrice {
  .productColor();
}

.center {
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 8px;
  background-color: white;
}

#favicon {
  font-size: 20px;
  .productColor();
}

.productReduced {
  font-size: 15px;
}

.formContainer {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 600;
}

//   .formClass{
//       pos
//   }
